fastapi
uvicorn
xgboost
numpy
pandas
opencv-python
scikit-learn
python-multipart
pydantic
librosa
soundfile
ffmpeg-python      # if you're using ffmpeg to extract frames/audio
aiofiles           # for asynchronous file handling in FastAPI

